a {

}

.btn-custom {
    background-color: orangered;
    color: white;
}

.btn-update {
    background-color: #767676;
    color: white;
    margin-left: 40px;
}

.author {
    margin: 10px 0; 
    font-size: 15px;
    font-weight: 100;
}